
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: green;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    align-items: center;
    display: flex;
    padding: 0.5rem;
}
nav .logo img {
    height: 50px; /* Adjust the height of the logo */
    width: auto; /* Maintain aspect ratio */
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding-bottom: 50px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

nav a.active {
    background-color: darkgreen;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

h2.FR {
    text-align: center;
    color: green;
    margin-bottom: 20px;
    font-size: 24px;
}

.registration-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.registration-form label {
    font-weight: bold;
    color: #333;
}

.registration-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.registration-form input:focus {
    outline: none;
    border-color: green;
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.2);
}

.registration-form .btn {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.registration-form .btn:hover {
    background-color: darkgreen;
}
.error {
    background-color: #ffebee;
    color: #c62828;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 14px;
  }
  